@import "tailwindcss" important;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ed7020;
  --grey-950: #00102e;
  --grey-900: #101928;
  --grey-800: #1d2739;
  --grey-700: #344054;
  --grey-500: #667185;
  --grey-400: #98a2b3;
  --grey-200: #e4e7ec;
  --grey-100: #f0f2f5;
  --grey-75: #f7f9fc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-grey-950: var(--grey-950);
  --color-grey-900: var(--grey-900);
  --color-grey-800: var(--grey-800);
  --color-grey-700: var(--grey-700);
  --color-grey-500: var(--grey-500);
  --color-grey-400: var(--grey-400);
  --color-grey-200: var(--grey-200);
  --color-grey-100: var(--grey-100);
  --color-grey-75: var(--grey-75);
  --font-inter: var(--font-inter);
}
@layer utilities {
  .custom-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 219, 197, 0.4) 0%,
      rgba(255, 246, 241, 0.4) 100%
    );
  }
  .custom-btn-hover-effect {
    -moz-transition: all 0.25s cubic-bezier(0, 0.52, 0.39, 1);
    -o-transition: all 0.25s cubic-bezier(0, 0.52, 0.39, 1);
    -webkit-transition: all 0.25s cubic-bezier(0, 0.52, 0.39, 1);
    transition: all 0.25s cubic-bezier(0, 0.52, 0.39, 1);
  }
 
  .custom-shadow {
    box-shadow: "0px 16px 24px -6px rgba(16, 25, 40, 0.08), 0px 0px 3px -1px rgba(16, 25, 40, 0.04), 0px 0px 0px 1px rgba(16, 25, 40, 0.05)";
  }
}

/*
Work on this later 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Helvetica, sans-serif;
}
